body {
  padding-top: 74px;
  font-family: 'Gilroy', sans-serif;
  color: var(--main);
  background-color: var(--background);
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding-top: 88px;
  }
}
