<section class="section">
  <div class="container">
    <div class="a-section">
      <div class="a-section-container">
        <h2 class="visually-hidden">Advertisement</h2>
        <div class="a-text-link-wrapper">
          <p class="a-text">
            Choose<span class="advertisement-accent"> your story</span>, making
            every moment unique. Time is your style, and we reveal it.
          </p>
          <a class="a-link" href="#contact"
            ><span class="a-link-text">Contact Us</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
