<header>
  <div class="header-box">
    <div class="header-container container" id="id-header">
      <nav class="nav">
        <a href="" class="logo">watchcharm</a>
        <ul class="nav-list">
          <li class="nav-item current">
            <a href="#id-home" class="item ">Home</a>
          </li>
          <li class="nav-item">
            <a href="#id-about" class="item">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#id-catalog" class="item">Catalog</a>
          </li>
          <li class="nav-item">
            <a href="#id-sale" class="item">Sale</a>
          </li>
          <li class="nav-item">
            <a href="#id-reviews" class="item">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#id-contact" class="item">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="header-social-list">
        <li class="social-link">
          <a href="https://www.facebook.com/goITclub/" class="link" target="_blank" rel="noopener">
            <svg width="20" height="20" class="icon" aria-label="facebook icon">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-link">
          <a href="https://www.instagram.com/goitclub/" class="link" target="_blank" rel="noopener">
            <svg width="20" height="20" class="icon" aria-label="instagram icon">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-link">
          <a href="https://www.youtube.com/c/GoIT" class="link" target="_blank" rel="noopener">
            <svg width="20" height="20" class="icon" aria-label="youtube icon">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="menu-open-btn js-open-btn">
        <svg width="34" height="34" class="icon-burger">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <!--menu-->
  <div class="header-menu js-mobile-menu">
      <button type="button" class="header-menu-close-btn js-close-btn">
        <svg width="34" height="34" class="icon-close">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item current">
          <a href="#id-home" class="item ">Home</a>
        </li>
        <li class="menu-nav-item">
          <a href="#id-about" class="item">About Us</a>
        </li>
        <li class="menu-nav-item">
          <a href="#id-catalog" class="item">Catalog</a>
        </li>
        <li class="menu-nav-item">
          <a href="#id-sale" class="item">Sale</a>
        </li>
        <li class="menu-nav-item">
          <a href="#id-reviews" class="item">Reviews</a>
        </li>
        <li class="menu-nav-item">
          <a href="#id-contact" class="item">Contact Us</a>
        </li>
      </ul>
      </nav>

    <ul class="menu-header-social-list">
      <li class="menu-social-link">
        <a href="https://www.facebook.com/goITclub/" class="link" target="_blank" rel="noopener">
          <svg width="20" height="20" class="icon" aria-label="facebook icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-link">
        <a href="https://www.instagram.com/goitclub/" class="link" target="_blank" rel="noopener">
          <svg width="20" height="20" class="icon" aria-label="instagram icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-link">
        <a href="https://www.youtube.com/c/GoIT" class="link" target="_blank" rel="noopener">
          <svg width="20" height="20" class="icon" aria-label="youtube icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>